@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #29292a;
}
:root{
    --main-color: #dea83d;
    --second-color: #424242 ;
    --text-color: #ffffff ;
    --gradient: linear-gradient( #d2c3a5 ,#dea83d   );
}
/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}

header{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dea83d ;
    padding: 15px 100px;
}
header1{
    position: relative;
    width: 100%;
    bottom: 1px ;
    right: 0;
    z-index: 1000;
    display: flex;
    border-style: solid;
    align-items: center;
    justify-content: space-between;
    background: #29292a;
    padding: 20px 100px;
}
.logo img{
    width: 40px;
}
.text b{
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--text-color);
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover:after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn .sign-in{
    background: #dea83d ;
    color: #FFF;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: var(--main-color);
}
/* Home */
.home{
    width: 90%;
    min-height: 60vh;
    position: relative;
    background: url(img/3.png);
    background-repeat: no-repeat;
    position : center right;
    top: 20px;
    left: 100px;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
}
.text h1{
    position: relative;
    right: 5px;
    font-size: 3.0rem;
    letter-spacing: 2px;
}
.text span{
    color: var(--main-color);
}

.text p{
    right: 100px;
    margin: 00.5rem 0 1rem;
}
.from-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: #FFF;
    padding: 20px;
    border-radius: 0.5rem;
}
.input-box{
    top: 1000;
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight: 500;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.from-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #d2c3a5;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}